.page {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
}

.list {
    list-style: none;
}

.titreMenu {
    text-decoration: underline;
}

.clickable:hover {
    cursor: pointer;
}

.clickable.menu:hover {
    color: rgb(78, 78, 255);
}

.reponseList.clickable:hover {
    border: 1px solid rgba(70, 70, 70, 0.712);
    box-shadow: -4px 4px 6px 0px rgba(0, 0, 0, 0.89);
}

.reponseList {
    border-bottom: 1px solid rgba(148, 148, 148, 0.733);
    padding: 5px;
    list-style: none;
}

.reponseList:last-child {
    border-bottom: none;
}

.reponseList.validAnswer {
    background-color: rgba(3, 182, 3, 0.61);
}

.reponseList.wrongAnswer {
    background-color: rgba(235, 3, 3, 0.61);
}

.colorSender {
    color: red;
}

.customFieldset {
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    padding: 5px;
}

.textArea {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}

.textArea:focus {
    outline: none;
    border-bottom: 2px solid rgb(255, 11, 11);
}

.roomJoinable {
    text-decoration: underline;
}

.roomJoinable:hover {
    color: #28ff4b;
    font-weight: bold;
}

.reponseFormulaire {
    padding: 10px;
    margin-bottom: 2%;
    border: 1px solid rgba(180, 180, 180, 0.651);
    border-radius: 3px;
}

.btnValidAnswer {
    background-color: rgb(6, 255, 6);
}

.btnWrongAnswer {
    background-color: rgb(255, 0, 0);
}

.roomJoinable {
    text-decoration: underline;
    color: #28ff4b;
    list-style-type: none;
}

.roomJoinable:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
}