.page {
    margin-top: 2em;
    margin-bottom: 2em;
}

.colorSender {
    color: red;
}

.customFieldset {
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    padding: 5px;
}

.textArea {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}

.textArea:focus {
    outline: none;
    border-bottom: 2px solid rgb(255, 11, 11);
}